.menu-superior{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(99, 1, 1, 1) /*rgba(232, 182, 2, 0.1)*/;
    height: auto;
    padding: .5em 1em 0em .5em;
}

@media screen and (max-width: 375px) {
    .menu-superior {
        flex-direction: column;
        padding: 0;
    }
    
} 