
.menu__links {
    display: flex;
    list-style: none;
    
}

.menu__links li {
    margin-left: .6em;
}

.menu__links a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: rgba(232, 182, 2, 0.836) /* rgba(99, 1, 1, 1)*/;
}
