.banner__titulo {
    background-color: rgba(229, 229, 229, 0.432);
    color: rgba(99, 1, 1, 1);
    font-size: 3em;
    font-weight: bold;
    line-height: 1.5em;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 70%;
    width: 100%;
}


@media screen and (max-width: 768px) {
    .banner__titulo {
        top: 50%;
    }
}
@media screen and (max-width: 550px) {
    .banner__titulo {
        font-size: 2.5em;
        top: 40%;
    }
}