.galeria__titulo {
    color: rgba(99, 1, 1, 1);
    font-size: 1.4em;
    padding-bottom: 2em;
    text-align: left;
}

@media screen and (max-width: 765px) {
    .galeria__titulo {
        text-align: center;
    }
}