

/* media query da barra de acessibilidade*/

@media screen and (max-width: 1440px) { 
    #pgacess{
        padding-left: 35%;
    }
}

@media screen and (max-width: 1280px) {
    #pgacess{
        padding-left: 29%;
    } 
}

@media screen and (max-width: 1024px) {
    #pgacess{
        padding-left: 18%;
    } 
}

@media screen and (max-width: 800px) {
    #pgacess{
        padding-left: 1%;
    } 
}

@media screen and (max-width: 630px){
    #atalhos{
        font-size: 0.8em;
        padding: 0;
        text-align: center ;
    }
    ul#atalhos li{
       display: none;
     }

     ul#atalhos li#pgacess {
         display: inline;
     }

     ul#atalhos li.contraste {
         display: inline;
     }
     ul#atalhos li.fonte{
         display: inline;
     }

}   