body {
    color: white;
}

.acessibilidade {
    background-color: black;
}

.acessibilidade a {
    color: yellow;
}

.acessibilidade a:hover {
    color: yellow;
}

.banner__titulo {
    background-color: black;
    color: white;
}

.mapa{
    background-color: black;
}

.menu__links a {
    color: yellow;
}

.menu-superior {
    background-color: black;
}

.mural {
    background-color: black;
}

.noticia {
    background-color: black;
}

.rodape {
    background-color: black;
    color: white;
}

.diretoria__imagem {
    box-shadow: 0px 0px 0px 10px rgb(182, 159, 159);
}

.diretoria__titulo {
    color: white;
}

.diretoria {
    background-color: black;
    box-shadow: 0px 0px 10px 10px rgb(182, 159, 159);
}

.membro__contato {
    color: white;
}

.membro__nome {
    color: white;
}

.membro__titulo {
    color: white;
}

.quemSomos {
    background-color: black;
}

.modalidades {
    color: white;
    background-color: black;
}

.modalidade {
    box-shadow: 13px 13px 0px -4px yellow; 
    background-color: white;
}

.modalidades__descricao {
    background-color: black;
}

.campeonatos {
    color: white;
    background-color: black;
}

.galeria__descricao {
    border: 2px dashed yellow;
}

.galeria__link {
    color: yellow;
}

.galeria__titulo {
    color: white;
}

.inscricoes__descricao {
    border: 2px dashed yellow;
}

.inscricoes__link {
    color: yellow;
}
.vigentes__item {
    color: white;
}

.vigentes__item:hover {
    color: yellow;
}

.vigentes__titulo {
    color: white;
}